body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #2D25A0;
}

.navigation {
    display: flex;
    justify-content: space-around;
    padding-top: 42px;
}

.navigation a {
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: white;
}
h1{
    height: 230px;
    font-size: 64px;
    line-height: 80px;
    color:#FFFFFF;

}
.button {
    background-color: #E02C6D;
    padding: 10px 20px;
}

.fa-sign-in-alt {
    margin: 0 8px;
}

.front-page {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    align-items: center;
}
.title{
    margin-left: 90px;
}
.banner img {
    width: 556px;
}
.players-details{
    width: 330px;
    height: 456px;
}
.players-details, img{
    width: 330px;
}
.players-details{
    padding: 15px;
    margin: 20px;
    box-shadow: 1px 1px 25px rgb(204, 204, 204);
}
.container{
    
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-column-gap: 24px;
}
